<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jen ❤️ Eddie : {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">Our Story</a>
        <a href="#">Wedding</a>
        <a href="#">RSVP</a>
        <a href="#">Photos</a>
        <a href="#">Hotel</a>
        <a href="#">Registry</a>
    </nav>
    <main>
        <h1>{{ title }}</h1>
        <p>Hello World!</p>
    </main>
</body>
</html>