{% extends "base.html" %}
{% block title %}Hotel{% endblock %}
{% block head %}
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
{% endblock %}
{% block content %}
    <h1>Hyatt Regency Cleveland at The Arcade</h1>
    <div class="hotel-book">
        <form action="https://www.hyatt.com/en-US/group-booking/CLERC/G-SALK">
            <input type="submit" value="Book Now">
        </form>
    </div>
    <p>Our room block is at the Hyatt Regency Cleveland. It is a two-minute walk from the House of Blues. The group rate
        is $199/night. You can book online using <a href="https://www.hyatt.com/en-US/group-booking/CLERC/G-SALK">this
            link</a> or by calling Hyatt reservations at <a href="tel:+14025935083">+1 402 593 5083</a> and asking for
        the Salkin-Cosma wedding rate. If you are asked to enter a group code during booking, use<strong>G-SALK</strong>.
        The cutoff date for the group rate is July 19, but we recommend booking much sooner because space is limited.
    </p>
    <div class="hotel-contact">
        <h2>Contact information</h2>
        420 Superior Avenue East<br>
        Cleveland, Ohio, 44114<br>
        United States<br>
        <a href="tel:+12165751234">+1 216 575 1234</a><br>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5640.912408061014!2d-81.69504045334841!3d41.500613031143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fa7ff962bf53%3A0x3cebb75663380a80!2sHyatt%20Regency%20Cleveland%20At%20The%20Arcade!5e0!3m2!1sen!2sus!4v1661824732622!5m2!1sen!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}