{% extends "base.html" %}
{% block title %}{{ lang_registry }}{% endblock %}
{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for("static", filename="stripe.js") }}"></script>
{% endblock %}
{% block content %}
    <form id="payment-form" data-secret="{{ intent.client_secret }}">
        <h1>{{ lang_pay_confirm_gift }}</h1>
        <p><table>
            <tr>
                <th>{{ lang_pay_gift_name }}</th>
                <th>{{ lang_pay_gift_price }}</th>
            </tr>
            <tr>
                <td>{% if lang__ == 'ro' %}{{ item.name_ro }}{% else %}{{ item.name }}{% endif %}</td>
                <td>{{ lang_registry_price_format|format(item.price / 100) }}</td>
            </tr>
        </table></p>

        <h1>{{ lang_pay_your_details }}</h1>
        <p>
            {{ lang_pay_buyer_name }}: {{ intent.metadata.get('buyer_name', 'Anonymous') }}<br>
            {{ lang_pay_buyer_email }}: {{ intent.receipt_email }}
        </p>

        <h1>{{ lang_pay_payment_information }}</h1>
        <div id="payment-element">
            <!-- Elements will create form elements here -->
        </div>
        <button id="submit">{{ lang_submit }}</button>
        <div id="error-message">
            <!-- Display error message to your customers here -->
        </div>
    </form>
    <script type="text/javascript">
        prepare_transaction('{{ public_key }}', '{{ intent.client_secret }}', '{{ url_for("jeddie.post_pay", _external=True) }}', '{{ lang__ }}')
    </script>
{% endblock %}