{% extends "base.html" %}
{% block title %}{{ lang_photos }}{% endblock %}
{% block main_id %}photos{% endblock %}
{% macro photo(name, width_percentage, alt="gallery image") %}
    <img src="{{ url_for("static", filename="images/" + name + "_small.jpg") }}"
         srcset="{{ url_for("static", filename="images/" + name + "_small.jpg") }} 800w, {{ url_for("static", filename="images/" + name + "_large.jpg") }} 1500w"
         sizes="{{ width_percentage }}vw"
         loading="lazy"
         alt="{{ alt }}">
{% endmacro %}
{% block content %}
    <div class="gallery-row">
        {{ photo("1", 66.7) }}
        {{ photo("40", 33.3) }}
    </div>
    <div class="gallery-row">
        {{ photo("13", 66.7) }}
        {{ photo("44", 33.3) }}
    </div>
    <div class="gallery-row">
        {{ photo("3", 52.9) }}
        {{ photo("46", 47.1) }}
    </div>
    <div class="gallery-row">
        {{ photo("5", 52.9) }}
        {{ photo("42", 47.1) }}
    </div>
    <div class="gallery-row">
        {{ photo("7", 52.9) }}
        {{ photo("47", 47.1) }}
    </div>
    <div class="gallery-row">
        {{ photo("18", 33.3) }}
        {{ photo("43", 66.7) }}
    </div>
    <div class="gallery-row">
        {{ photo("9", 69.2) }}
        {{ photo("34", 30.8) }}
    </div>
    <div class="gallery-row">
        {{ photo("17", 33.3) }}
        {{ photo("41", 66.7) }}
    </div>
    <div class="gallery-row">
        {{ photo("19", 67.8) }}
        {{ photo("29", 32.2) }}
    </div>
    <div class="gallery-row">
        {{ photo("32", 50) }}
        {{ photo("38", 50) }}
    </div>
    <div class="gallery-row">
        {{ photo("45", 100) }}
    </div>
{% endblock %}