{% extends "base.html" %}
{% block title %}{{ lang_registry }}{% endblock %}
{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        const stripe = Stripe('{{ public_key }}');
        const clientSecret = new URLSearchParams(window.location.search).get(
            'payment_intent_client_secret'
        );
    </script>
{% endblock %}
{% block main_id %}registry{% endblock %}
{% block content %}
    <h1>{{ lang_pay_payment_status }}</h1>
    <p><div id="message"></div></p>
    <p>{{ lang_pay_return_to_registry|safe }}</p>
    <script type="text/javascript">
        stripe.retrievePaymentIntent(clientSecret).then(({paymentIntent}) => {
            const message = document.querySelector('#message')
            switch (paymentIntent.status) {
                case 'succeeded':
                    message.innerText = '{{ lang_pay_status_succeeded_1 }}' + (paymentIntent.amount / 100).toFixed(2) + '{{ lang_pay_status_succeeded_2 }}' + paymentIntent.receipt_email + '.';
                    fetch('../refresh_stripe_qty/' + paymentIntent.id).then();
                    break;

                case 'processing':
                    message.innerText = "{{ lang_pay_status_processing }}";
                    break;

                case 'requires_payment_method':
                    message.innerText = '{{ lang_pay_status_requires_payment_method }}';
                    break;

                default:
                    message.innerText = '{{ lang_pay_status_generic_failure }}';
                    break;
            }
        });
    </script>
{% endblock %}