{% extends "base.html" %}
{% block title %}{{ lang_registry }}{% endblock %}
{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        const stripe = Stripe('{{ public_key }}');
        const clientSecret = new URLSearchParams(window.location.search).get(
            'payment_intent_client_secret'
        );
    </script>
{% endblock %}
{% block main_id %}registry{% endblock %}
{% block content %}
    <h1>Payment status</h1>
    <p><div id="message"></div></p>
    <p><a href="{{ url_for('jeddie.registry') }}">Click here</a> to return to the gift registry.</p>
    <script type="text/javascript">
        stripe.retrievePaymentIntent(clientSecret).then(({paymentIntent}) => {
            const message = document.querySelector('#message')
            switch (paymentIntent.status) {
                case 'succeeded':
                    message.innerText = 'Thank you! We received your gift of $' + (paymentIntent.amount / 100).toFixed(2) + '. An email confirmation will be sent to ' + paymentIntent.receipt_email + '.';
                    fetch('../refresh_stripe_qty/' + paymentIntent.id).then();
                    break;

                case 'processing':
                    message.innerText = "Your gift is still processing. You may refresh this page to check the status. You will receive an email confirmation when we receive your gift.";
                    break;

                case 'requires_payment_method':
                    message.innerText = 'Your gift failed to send. Please try again using another payment method.';
                    break;

                default:
                    message.innerText = 'Something went wrong and your gift was not processed. Please contact Jen and Eddie to alert them of this error.';
                    break;
            }
        });
    </script>
{% endblock %}