{% extends "base.html" %}
{% block title %}{{ lang_registry }}{% endblock %}
{% block main_id %}registry{% endblock %}
{% block content %}
    <h1>Honeymoon fund</h1>
    <p>Please enter a custom gift amount below.</p>
    <form method='post' action="{{ url_for('jeddie.registry_custom') }}">
        <label for="price">Amount</label><br>
        $ <input type="number" step="0.01" min="1.00" max="5000.00" name="price" id="price" placeholder="0.00"><br>
        <input type="submit" value="Continue">
    </form>
{% endblock %}