{% extends "base.html" %}
{% block title %}{{ lang_rsvp }}{% endblock %}
{% block head %}
    <script src="https://www.google.com/recaptcha/api.js{% if lang__ == 'ro' %}?hl=ro{% endif %}" async defer></script>
{% endblock %}
{% block content %}
    <h1>{{ lang_rsvp_search }}</h1>
    {{ lang_rsvp_instructions|safe }}
    <form name="rsvp_form" action="{{ url_for('jeddie.rsvp_search') }}" method="post">
            <label for="name">{{ lang_rsvp_name }}</label><br>
            <input type="text" name="name" id="name" value="" placeholder="{{ lang_rsvp_name_placeholder }}" required> <br><br>

        <div class="g-recaptcha" data-sitekey="{{ site_key }}" data-theme="dark"></div>
        <input type="submit" value="{{ lang_submit }}">
    </form>
{% endblock %}