/* Predefined colors */

:root {
    --primary-foreground: #C0ABA7;
    --primary-background: #150100;
    --accent: #720B0A;
    --accent-alt: #C2917A;
    --alt-background: #E8E2DF;
}

/* Custom fonts */

@font-face {
    font-family: "Tofino Pro";
    src: url("fonts/TofinoProPersonal-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tofino Pro Wide";
    src: url("fonts/TofinoProPersonalWide-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Tofino Pro";
    src: url("fonts/TofinoProPersonal-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

/* Base elements */

body {
    color: var(--alt-background);
    background-color: var(--primary-background);
    font-family: "Tofino Pro", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

div#language {
    background-color: #333333;
    color: var(--alt-background);
    font-size: 11pt;
    text-align: right;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
}

div#language svg {
    height: 18px;
    width: 18px;
    fill: var(--alt-background);
}

div#language a {
    color: var(--alt-background);
    text-decoration: none;
}

div#language a:hover {
    color: var(--accent-alt);
}

nav {
    background-color: var(--primary-foreground);
    font-size: 14pt;
    width: calc(100% - 200px);
    padding: 0 100px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    padding: 37px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    display: block;
    flex-grow: 1;
    color: var(--accent);
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
}

nav a:hover {
    color: var(--alt-background);
    background-color: var(--accent-alt);
    text-decoration: none;
}

nav a#show-menu {
    display: none;
}

main {
    height: calc(100vh - 120px);
    margin: 0 auto;
    padding: 0 calc((100% - 50em) / 2);
    font-size: 16pt;
    line-height: 1.6;
    background-size: cover;
}

main#landing {
    background-image: url("images/home.jpg");
    background-position: 75% 66%;
}

main#landing > #content-overlay {
    background-color: transparent;
    padding-top: 15em;
}

main#story {
    background-image: url("images/story.jpg");
    background-position: 50% 66%;
    overflow: scroll;
}

main#wedding {
    background-image: url("images/hob.jpg");
    background-position: 75% 66%;
}

main#photos {
    padding: 0;
}

main#photos > #content-overlay {
    background-color: transparent;
    padding: 0;
}

#content-overlay {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.75);
}

a {
    color: var(--accent-alt);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 10px;
}

/* Homepage */

div#announcement {
    animation: 1s anim-lineUp ease-out 1;
    font-size: max(4vw, 24pt);
    font-family: "Tofino Pro Wide", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--alt-background);
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Wedding page */

div#event-flow {
    font-size: max(2vw, 20pt);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#event-flow div {
    padding: max(3vw, 30px);
}

div#event-flow svg {
    fill: var(--alt-background);
    margin-left: 8px;
    height: 3vw;
}

/* Photos page */

.gallery-row {
    height: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.gallery-image {
    width: calc(100% * var(--ratio));
    aspect-ratio: var(--ratio);
}

/* Hotel page */

.hotel-book {
    width: 100%;
    text-align: center;
}

.hotel-book input[type=submit] {
    font-size: 18pt;
    background-color: var(--accent);
    background-image: url('images/button-bg.png');
    background-repeat: repeat-x;
    color: var(--alt-background);
    border: 0;
    border-radius: 10px;
    padding: 0.2em;
    width: 80%;
}

.hotel-book input[type=submit]:hover {
    background-image: url('images/button-bg-hover.png');
    cursor: pointer;
}

.hotel-map {
    width: 100%;
    height: 450px;
    border: 0;
    margin: 15px 0;
}

@media only screen and (max-width: 950px) {
    /* Base elements */

    nav {
        flex-direction: column;
        position: relative;
        padding: 0;
        width: 100%;
    }

    nav a {
        padding: 10px 0;
        display: none;
    }

    nav a#show-menu {
        display: block;
    }

    nav.responsive a {
        display: block;
    }

    main {
        height: calc(100vh - 75px);
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 13pt;
        max-height: -webkit-fill-available;
    }

    /* Wedding page */

    div#event-flow {
        flex-direction: column;
    }

    div#event-flow svg {
        height: 36px;
    }

    /* Photos page */
    .gallery-row {
        flex-direction: column;
    }

    .gallery-image {
        width: 100%;
    }

}