/* Predefined colors */

:root {
    --primary-foreground: #C0ABA7;
    --primary-background: #150100;
    --accent: #720B0A;
    --accent-alt: #C2917A;
    --alt-background: #E8E2DF;
    --alt-background-dark: #342F42;
}

/* Custom fonts */

@font-face {
    font-family: "Tofino Pro";
    src: url("fonts/TofinoProPersonal-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tofino Pro Wide";
    src: url("fonts/TofinoProPersonalWide-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Tofino Pro";
    src: url("fonts/TofinoProPersonal-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

/* Base elements */

body {
    color: var(--alt-background);
    background-color: var(--primary-background);
    accent-color: var(--accent);
    font-family: "Tofino Pro", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

div#language {
    background-color: #333333;
    color: var(--alt-background);
    font-size: 11pt;
    text-align: right;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
}

div#language svg {
    height: 18px;
    width: 18px;
    fill: var(--alt-background);
}

div#language a {
    color: var(--alt-background);
    text-decoration: none;
}

div#language a:hover {
    color: var(--accent-alt);
}

nav {
    background-color: var(--primary-foreground);
    font-size: 14pt;
    width: calc(100% - 200px);
    padding: 0 100px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    padding: 37px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    display: block;
    flex-grow: 1;
    color: var(--accent);
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
}

nav a:hover {
    color: var(--alt-background);
    background-color: var(--accent-alt);
    text-decoration: none;
}

nav a#show-menu {
    display: none;
}

main {
    height: calc(100vh - 120px);
    margin: 0 auto;
    padding: 0 calc((100% - 50em) / 2);
    font-size: 16pt;
    line-height: 1.6;
    background-size: cover;
}

main#landing {
    background-image: url("images/home.jpg");
    background-position: 75% 66%;
}

main#landing > #content-overlay {
    background-color: transparent;
    padding-top: 30vh;
}

main#story {
    background-image: url("images/story.jpg");
    background-position: 50% 66%;
    overflow: scroll;
}

main#wedding {
    background-image: url("images/hob.jpg");
    background-position: 75% 66%;
    overflow: scroll;
}

main#photos {
    padding: 0;
}

main#photos > #content-overlay {
    background-color: transparent;
    padding: 0;
}

div.flash {
    width: calc(100% - 4em);
    background-color: var(--accent);
    color: var(--alt-background);
    padding: 1em 2em 0.75em 2em;
}

#content-overlay {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.75);
}

a {
    color: var(--accent-alt);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 10px;
}

input[type=button], input[type=submit], button {
    font-size: 16pt;
    background-color: var(--accent);
    background-image: url('images/button-bg.png');
    background-repeat: repeat-x;
    color: var(--alt-background);
    border: 0;
    border-radius: 10px;
    padding: 0.2em 0.3em;
    margin-top: 1em;
    -webkit-appearance: none;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background-image: url('images/button-bg-hover.png');
    cursor: pointer;
}

input[type=number], input[type=text], textarea {
    font-size: 16pt;
    font-family: inherit;
    background-color: var(--alt-background-dark);
    color: var(--alt-background);
    border: 1px solid var(--primary-background);
    border-radius: 10px;
    -moz-appearance: textfield;
    padding: 0.2em 0.3em;
}

 input[type='radio'] {
     transform: scale(1.4);
     vertical-align: text-top;
     margin-right: 1em;
 }

/* Remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
    border-collapse: collapse;
    width: 30em;
}

th {
    background-color: var(--alt-background-dark);
}

td, th {
    padding: 0 10px;
    text-align: left;
    border: 1px solid var(--primary-foreground);
}

/* Homepage */

div#announcement {
    animation: 1s anim-lineUp ease-out 1;
    font-size: max(4vw, 24pt);
    font-family: "Tofino Pro Wide", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--alt-background);
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

div#rsvp_button {
    margin: 10px auto 0 auto;
    padding: 0 0.5em;
    width: fit-content;
    background-color: var(--accent);
    color: var(--alt-background);
    background-image: url('images/button-bg.png');
    background-repeat: repeat-x;
    border: solid var(--alt-background);
}

/* Wedding page */

div#event-flow {
    font-size: clamp(20pt, 2vw, 24pt);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#event-flow div {
    padding: max(3vw, 30px) 0;
    width: clamp(350px, 25vw, 400px);
}

div#event-flow svg {
    fill: var(--alt-background);
    margin-left: 8px;
    height: 3vw;
}

/* Photos page */

.gallery-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

/* Hotel page */

.hotel-book {
    width: 100%;
    text-align: center;
}

.hotel-book input[type=submit] {
    font-size: 18pt;
    background-color: var(--accent);
    background-image: url('images/button-bg.png');
    background-repeat: repeat-x;
    color: var(--alt-background);
    border: 0;
    border-radius: 10px;
    padding: 0.2em;
    width: 80%;
}

.hotel-book input[type=submit]:hover {
    background-image: url('images/button-bg-hover.png');
    cursor: pointer;
}

.hotel-map {
    width: 100%;
    height: 450px;
    border: 0;
    margin: 15px 0;
}
/* Registry page */

.registry-item {
    background-color: var(--alt-background-dark);
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.registry-item-none-remaining {
    background-color: #333333;
    color: #000000;
}

.registry-item h2 {
    font-size: 18pt;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
}

.registry-item p {
    font-size: 16pt;
    line-height: 1.2;
    padding-bottom: 0;
    margin-bottom: 0;
}

.registry-thumbnail {
    height: 150px;
    margin-right: 30px;
    border-radius: 10px;
}

.registry-item-detail {
    width: 100%;
}

.registry-item-cost {
    float: right;
    text-align: right;
    margin-left: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.registry-item-none-remaining input[type=button] {
    background-color: #444444;
    background-image: none;
    color: #999999;
}

.registry-item-none-remaining input[type=button]:hover {
    background-image: none;
    cursor: not-allowed;
}

#modal-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
}

#modal-overlay #modal {
    max-width: 500px;
    width: 80%;
    padding: 10px 30px;
    background: var(--alt-background-dark);
    border-radius: 10px;
    align-self: center;
}

#modal h2 {
    padding: 0;
    margin: 0;
    font-size: 20pt;
}

#payment-buttons {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 950px) {
    /* Base elements */
    nav {
        flex-direction: column;
        position: relative;
        padding: 0;
        width: 100%;
    }

    nav a {
        padding: 10px 0;
        display: none;
    }

    nav a#show-menu {
        display: block;
    }

    nav.responsive a {
        display: block;
    }

    main {
        height: calc(100vh - 75px);
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 13pt;
        max-height: -webkit-fill-available;
    }

    table {
        width: 100%;
    }

    /* Wedding page */
    div#event-flow {
        flex-direction: column;
    }

    div#event-flow div {
        width: 100%;
    }

    div#event-flow svg {
        height: 36px;
    }

    /* Photos page */
    .gallery-row {
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {
    /* Registry page */
    .registry-item {
        flex-direction: column;
    }

    .registry-thumbnail {
        margin-right: 0;
        margin-bottom: 20px;
        align-self: center;
    }

    .registry-item-cost {
        width: 100%;
        margin: 20px 0 0 0;
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }

    input[type=text], textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    /* Registry page */

    .registry-item-cost {
        width: 100%;
        margin: 20px 0 0 0;
        text-align: right;
        flex-direction: column;
    }

    /* Registry page */
    #modal h2 {
        font-size: 16pt;
    }
}